


<!-- <h3>All Users</h3>

<table border="1">
	<thead>
		<tr>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Mobile No.</th>
			<th>Email</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let data of anyName">
			<td>{{data.firstName}}</td>
			<td>{{data.lastName}}</td>
			<td>{{data.mobileNo}}</td>
			<td>{{data.email}}</td>
			<td><button (click) = "onEdit()">edit</button></td>
			<td><button (click) = "onDelete()">delete</button></td>
		</tr>
	</tbody>
</table>
 -->

<!-- <button (click) = "onSubmit()">ADD</button> -->


<!-- <form class="formtwo"> -->
<!-- 	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>EmployeeName</th>
				<th>EmployeeSalary</th>
				<th>Employeeage</th>
				<th>profileImage</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let data of allData">
				<td>{{data.id}}</td>
				<td>{{data.employee_name}}</td>
				<td>{{data.employee_salary}}</td>
				<td>{{data.employee_age}}</td>
				<td>{{data.profile_image}}</td>
			</tr>
		</tbody>
	</table>
 -->
	<!-- <button (click) = "getData()">ADD</button> -->
<!-- </form> -->