<div class="container">
	<div class="row mt-5">
		<div class="col-4 offset-4">
			<h4 class="text-center">Form</h4>
			<form>
				<div class="form-group m-4">
					<label>First Name : </label>
					<input type="text" name="firstName" class="form-control" [(ngModel)]="allData.firstName" placeholder="Enter Your First Name">
				</div>
				<div class="form-group m-4">
					<label>Last Name : </label>
					<input type="text" name="lastName" class="form-control" [(ngModel)]="allData.lastName" placeholder="Enter Your Last Name">
				</div>
				<div class="form-group m-4">
					<label>Mobile No : </label>
					<input type="text" name="mobileNo" class="form-control" [(ngModel)]="allData.mobileNo" placeholder="Enter Your Mobile No">
				</div>
				<div class="form-group m-4">
					<label>Email : </label>
					<input type="text" name="email" class="form-control" [(ngModel)]="allData.email" placeholder="Enter Your E-mail">
				</div>
			</form>
			<button (click)="sendMessage()" class="btn btn-primary btn-sm ml-4">Add User</button>
		</div>
	</div>
</div>
