


.nav-item a{
	color: white;
}
table{
	margin-top: 50px;
	margin-left: 15%;
}
table th{
	padding: 10px;
	border: 1px solid black;
}
tr, td{
	text-align: center;
	border: 1px solid black;
	padding: 10px;
}

.formone {
	margin-left: 40%;
	margin-top: 2%;
}
.inputtext {
	width: 35%;
}
.submit {
	width: 100px;
	margin-left: 23%;
}
label, button{
	margin-top: 15px;
}